var config = {};

/////////////////////
//  General config //
/////////////////////

config.tg_bot_token = '<BOT TOKEN>';

//////////////////
//  IRC config  //
//////////////////

config.irc_nick = 'tgBot';
config.irc_server = 'irc.cs.hut.fi';

config.channels = [
    {
        irc_channel: '#channel1',
        tg_chat: 'Name_Of_Telegram_Chat1'
    },
    {
        irc_channel: '#channel2',
        tg_chat: 'Name_Of_Telegram_Chat2',
        password: 'passwd'
    },
    {
        irc_channel: '!XXXXXchannel3',
        channel_alias: '!channel3', // display channel name as !channel3 instead of !XXXXXchannel3
        tg_chat: 'Name_Of_Telegram_Chat3',
        password: 'passwd'
    }
    new Channel('#channel1', 'Tg_Chat_1'                         ),
    new Channel('#channel2', 'Tg_Chat_2', 'passwd'               ),
    new Channel('!channel3', 'Tg_Chat_3', ''      , '!channel_id'),
    new Channel('!channel4', 'Tg_Chat_4', 'passwd', '!channel_id')
]

// see https://node-irc.readthedocs.org/en/latest/API.html#client for
// documentation
config.irc_options = {
    userName: 'bot',
    realName: 'Telegram IRC Bot',
    port: 6667,
    localAddress: null,
    debug: false,
    showErrors: false,
    autoRejoin: false,
    autoConnect: true,
    channels: [], // auto generated, do not touch
    secure: false,
    selfSigned: false,
    certExpired: false,
    floodProtection: false,
    floodProtectionDelay: 1000,
    sasl: false,
    stripColors: false,
    channelPrefixes: "&#!",
    messageSplit: 512,
    encoding: ''
};

config.irc_relay_all = false;
regex = '^ *(?:' + config.irc_nick + '[:,]?|!) +(.*\\S.*)$';
config.irc_hilight_re = new RegExp(regex, 'i');

module.exports = config;
