var config = {};

function Channel (irc_channel, tg_chat, irc_channel_pwd, irc_channel_id) {
    this.irc_channel     = irc_channel_id ? irc_channel_id : irc_channel;
    this.irc_channel_pwd = irc_channel_pwd;
    this.tg_chat         = tg_chat;
}


/////////////////////
//  General config //
/////////////////////

config.channels = [
    new Channel('#channel1', 'Tg_Chat_1'                         ),
    new Channel('#channel2', 'Tg_Chat_2', 'passwd'               ),
    new Channel('!channel3', 'Tg_Chat_3', ''      , '!channel_id'),
    new Channel('!channel4', 'Tg_Chat_4', 'passwd', '!channel_id')
]

config.tg_bot_token = '<BOT TOKEN>';


//////////////////
//  IRC config  //
//////////////////

config.irc_nick = 'tgBot';
config.irc_server = 'irc.cs.hut.fi';

// see https://node-irc.readthedocs.org/en/latest/API.html#client for documentation
config.irc_options = {
    userName: 'bot',
    realName: 'Telegram IRC Bot',
    port: 6667,
    localAddress: null,
    debug: false,
    showErrors: false,
    autoRejoin: false,
    autoConnect: true,
    channels: [], // auto generated, do not touch
    secure: false,
    selfSigned: false,
    certExpired: false,
    floodProtection: false,
    floodProtectionDelay: 1000,
    sasl: false,
    stripColors: false,
    channelPrefixes: "&#!",
    messageSplit: 512,
    encoding: ''
};

config.irc_relay_all = false;
regex = '^ *(?:' + config.irc_nick + '[:,]?|!) +(.*\\S.*)$';
config.irc_hilight_re = new RegExp(regex, 'i');

module.exports = config;
