var config = {};

/* irc configuration */

// irc nick to use
config.nick = "exampleTgBot";
// irc channel to join
config.chan = "#examplechan";
// relay all messages or only hilighted ones?
config.relayAll = false;

config.server = {
    "debug": false,
    "address": "irc.quakenet.org",
    "port": 6667,
    "secure": false, // use ssl?
    "selfSigned": false, // accept self-signed certificates?
    "certExpired": false // accept expired certificates?
};

/* telegram configuration */

// path to telegram-cli binary
config.tgcli_path = "/home/rasse/src/tg/bin/telegram-cli";

// path to telegram server pubkey
config.tgpubkey_path = "/home/rasse/src/tg/tg-server.pub";

// telegram group chat name
config.tgchat = "myAwesomeGroupChat";

// telegram name used by the configured tel number, checked to prevent sending
// a message from irc -> telegram -> back to irc
config.tgnick = "Firstname Lastname";

module.exports = config;
